# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
.cache
.dirty
.idea
.venv
.vscode
*.aps
*.cab
*.h5
*.msi
*.msm
*.msp
*.u2d
build
Checker/.idea
Checker/*.exe
Checker/updater
cmake-build*
Document
MSVC/Debug
MSVC/Release
MSVC/suanPan/.idea
MSVC/suanPan/.vs
MSVC/suanPan/*/x64
venv

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
